.grainyBg {
  background-color: hsl(6, 93%, 71%);
  background-image: url('../assets/svgs/noise.svg');
  background-attachment: fixed;
}

.blurBg {
  --bg-opacity: 0.85;
  --bg-rgb: 255, 255, 255;

  background-color: rgba(var(--bg-rgb), var(--bg-opacity));
  backdrop-filter: blur(4px);
}

.glowBg {
  --bg-color: #ffffff;
  --spot-color-one: #ef8d4b;
  --spot-color-two: #5021ff;
  --damper-color: hsla(0, 0%, 100%, 0);

  background:
    radial-gradient(
      circle,
      var(--spot-color-one) -60%,
      var(--damper-color) 45%
    ),
    radial-gradient(circle, var(--spot-color-two) -60%, var(--damper-color) 45%)
      var(--bg-color);
  background-position-x: -45vw, 28vw;
  background-position-y:
    33rem,
    -17rem;
  background-repeat: no-repeat, no-repeat;
}
