:root {
  color-scheme: light dark;

  /* Fonts */
  --logo-font: 'Dongle', sans-serif;
  --latin-font: 'Poppins', sans-serif;
  --arabic-font: 'Righteous', cursive;

  /* colors */
  --primary-color: #fa7e70;
  --primary-color-soft: hsl(6, 93%, 78%);

  --success-color: #04a22c;
  --success-color-soft: hsl(135, 95%, 84%);

  --info-color: #023e8a;
  --info-color-soft: hsl(214, 97%, 84%);

  --warning-color: #f77f00;
  --warning-color-soft: hsl(31, 100%, 84%);

  --error-color: #e63946;
  --error-color-soft: hsl(355, 78%, 84%);

  /*  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-primary-color: 12;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

[data-theme='auto'] {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: none;
  list-style: none;
}
