:root {
  color-scheme: light dark;

  /* colors */
  --primary-color: #fa7e70;
  --primary-color-soft: hsl(6, 93%, 78%);

  --success-color: #12cf5b;
  --success-color-soft: #dafde7;

  --info-color: #51a8f8;
  --info-color-soft: #dbeeff;

  --warning-color: #ffc51c;
  --warning-color-soft: #fef8c6;

  --error-color: #dd4a50;
  --error-color-soft: #fde4e7;

  --link-color: #6089e5;
  --link-active-color: #9390fd;

  /*  */
}

@media (prefers-color-scheme: dark) {
  /* :root {
     
  } */

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

[data-theme='auto'] {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: none;
  list-style: none;
}
