@import '_raw.css';
@import '_scrollbar.css';

@import '../assets/fonts/Reey/_font_reey.css';
@import '../assets/fonts/Righteous/_font_righteous.css';
@import '../assets/fonts/Noto_Sans_Arabic/_font_noto_sans_arabic.css';
@import '../assets/fonts/Objectivity/_font_objectivity.css';
@import '../assets/fonts/Inter/_font_inter.css';

body {
  font-family: 'Noto-Sans-Arabic', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.prototype {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
