.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}

.title {
  font-size: 50px;
  font-weight: 400;
  text-decoration: line-through;
  transform: rotateZ(-9deg);
}

.paragraph {
  padding-block: 60px 30px;
  max-width: 800px;
  text-align: center;
  user-select: none;
}

.code {
  width: 100%;
}

.code > pre {
  padding: 12px 28px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  width: 100%;
  max-width: 600px;
  overflow: auto;
  margin-inline: auto;
}
