.container {
  display: grid;

  .grower {
    white-space: pre-wrap;
    word-wrap: break-word;
    visibility: hidden;
  }

  .textarea {
    resize: none;
    overflow: hidden;
  }

  .commun {
    min-height: 64px;
    width: 300px;
    max-width: 300px;
    font-size: 14px;
    line-height: 28px !important; //
    border: 2px solid var(--primary-color);
    padding: 8px 12px;
    border-radius: 2px;
    grid-area: 1 / 1 / 2 / 2;
  }
}
